@media screen and (max-width:768px) {
    .container {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }

    .flex-center {

        grid-template-columns: 1fr;
        align-items: center;
        padding-left: 10%;

    }




}

@media screen and (max-width: 480px) {
    .container {
        padding-left: auto;
    }

    .flex-center {
        padding-left: 5%;
    }

    .navbar {
        width: 100%;
    }

   

}

